body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #61dafb;
    padding: 20px;
    text-align: center; 
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

pre {
    background-color: #3c4043;
    color: #61dafb;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: left; 
    white-space: pre-wrap; 
}

.inp {
    background-color: #61dafb;
    color: #282c34;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
}

.inp:hover {
    background-color: #4cb7e0;
}
