<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asciii-art-result</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <div>
        <h2>
            <pre>   ======>  This is your Ascii-Art : </pre>
        </h2>
        <pre  >
{{.Output}}</pre>
    </div>
    <div>
        <br>
         <a href="/">
            <input class="inp" type="submit" value="Go Back">
         </a>
         <form action="/download" method="post">
            <input class="inpt" type="submit" value="Download">
         </form>
    </div>
    
</body>
</html>